/* Resetting default browser styles */
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}