doctype html
html
  head
    title User Authentication App
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
    div(class='container')
      block content
    footer
      p &copy; 2024 User Authentication App